@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
/* In your global CSS file, e.g., styles/globals.css */
/* For Webkit (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  @apply w-2;
}

::-webkit-scrollbar-track {
  @apply bg-blue-100;
}

::-webkit-scrollbar-thumb {
  @apply bg-blue-500;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-blue-700;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: theme(colors.blue.500) theme(colors.blue.100);
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
